@using System.Data
@model ResponseList<CompanyManagement.UI.Models.Response.ResponseThemeDetails>

<div class="mb-10 text-left">
    <button class="primary-type-button input-height-button" id="addTheme" onclick="AddTheme()">+ ADD</button>
</div>
<div class="table-responsive" style="display:none" id="newTheme">

    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">Theme Name</p>
            <input type="text" class="textboxclass" placeholder="" id="txtThemeName">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">Ext Theme Name</p>
            <input type="text" class="textboxclass" placeholder="" id="txtExtThemeName">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">ImageRatio</p>
            <input type="text" class="textboxclass" placeholder="" id="txtImageRatio">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">Colour</p>
            <input type="text" class="textboxclass" placeholder="" id="txtColour">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">NoOfHomePanels</p>
            <input type="text" class="textboxclass" placeholder="" id="txtNoOfHomePanels">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">MobileHeight</p>
            <input type="text" class="textboxclass" placeholder="" id="txtMobileHeight">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-05">
            <p class="field-label-text">DesktopHeight</p>
            <input type="text" class="textboxclass" placeholder="" id="txtDesktopHeight">
        </div>
    </div>
    <div class="col-md-2">
        <div class="mb-15">
            <p class="field-label-text">&nbsp;</p>
            <label class="cus-chk-containerall">
                <input type="checkbox" id="IsActive" name="IsActive">
                <span class="checkmarkall"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is Active
            </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mb-15">
            <p class="field-label-text">&nbsp;</p>
            <label class="cus-chk-containerall">
                <input type="checkbox" id="IsDefault" name="IsDefault">
                <span class="checkmarkall"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is Default
            </label>
        </div>
    </div>
    <div class="mb-10 text-right col-md-12">
        <button class="primary-type-button input-height-button" id="cancelTemplate" onclick="CancelTheme()">Cancel</button>
        <button class="primary-type-button input-height-button" id="addTemplate" onclick="AddEditTheme()">Save</button>
    </div>
    <input type='hidden' id='hdnThemeId' value='0' />
</div>
<div class="scrollsetting">
    @if (Model != null && Model.Data != null && Model.Data.Count > 0)
    {
        var i = 1;
        foreach (var item in Model.Data)
        {
    <div class="table-responsive seperate">

        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">Theme Name</p>
                <input type="text" class="textboxclass" placeholder="" id="txtThemeName_@i" value="@item.ThemeName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">Ext Theme Name</p>
                <input type="text" class="textboxclass" placeholder="" id="txtExtThemeName_@i" value="@item.ExtThemeName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">ImageRatio</p>
                <input type="text" class="textboxclass" placeholder="" id="txtImageRatio_@i" value="@item.ImageRatio">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">Colour</p>
                <input type="text" class="textboxclass" placeholder="" id="txtColour_@i" value="@item.Colour">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">NoOfHomePanels</p>
                <input type="text" class="textboxclass" placeholder="" id="txtNoOfHomePanels_@i" value="@item.NoOfHomePanels">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">MobileHeight</p>
                <input type="text" class="textboxclass" placeholder="" id="txtMobileHeight_@i" value="@item.MobileHeight">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-05">
                <p class="field-label-text">DesktopHeight</p>
                <input type="text" class="textboxclass" placeholder="" id="txtDesktopHeight_@i" value="@item.DesktopHeight">
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-15">
                <p class="field-label-text">&nbsp;</p>
                <label class="cus-chk-containerall">
                    <input type="checkbox" id="IsActive_@i" checked="@item.IsActive" name="IsActive">
                    <span class="checkmarkall"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is Active
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-15">
                <p class="field-label-text">&nbsp;</p>
                <label class="cus-chk-containerall">
                    <input type="checkbox" id="IsDefault_@i" checked="@item.IsDefault" name="IsDefault">
                    <span class="checkmarkall"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is Default
                </label>
            </div>
        </div>
        <div class="mb-10 text-right col-md-12">
            <button class="primary-type-button input-height-button" id="cancelTemplate" onclick="EditTheme(@i)">Edit</button>
            <button class="primary-type-button input-height-button" id="addTemplate" onclick="DeleteTheme(@i)">Delete</button>
        </div>
        <input type='hidden' id='hdnThemeId_@i' value='@item.ThemeId' />
    </div>
            i++;
        }
    }
</div>
